---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Visualizer from '../components/Visualizer.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="JSON to Clean Table Visualizer">
  <Navbar />
  
  <main class="flex-1 flex flex-col items-center w-full">
    <Hero />
    <Visualizer />
  </main>
  
  <Footer />
</Layout>
